@media screen and (min-width: 600px) {
  .intro {
    padding: 30px 20px 0px;
    /* padding: 210px 120px 0px; */
  }

  .cloud__software .card__container {
    flex: 50%;
  }
  .cloud__software .card {
    padding: 122px 18px 50px;
    margin-top: 160px;
  }
  .skilline {
    margin-top: 120px;
  }
  .skilline .card {
    padding: 132px 154px 123px 154px;
  }
  .background-blue-ecllipse {
    position: absolute;
    height: 150px;
    width: 150px;
    right: 135px;
    bottom: 0px;
    z-index: -1;
  }
  .orange-background-ecllipse {
    position: absolute;
    right: 305px;
    bottom: 0px;
    right: 290px;
    z-index: -1;
  }
  .news-tag {
    font-size: 12px;
  }
}
@media screen and (max-width: 486px) {
  .navbar {
    margin: 0px;
    flex-direction: column;
    align-items: flex-end;

    margin: 20px;
  } */
  .navbar {
    margin: 0px 15px;
  }
  .intro {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 500px) {
  /* .nav__lists {
    background-color: white;
    width: 100%;
  }
  .nav__lists li {
    text-align: center;
  }
  .card__container {
    margin: 0px;
  }
  .cloud__software {
    margin-top: 80px;
  }
  .cloud__software .card__container {
    gap: 30px;
  }
  .skilline .card__container {
    gap: 30px;
  }
  .everything {
    margin-top: 40px;
  }
  .feature {
    margin-top: 40px;
  }
  .tools h3 {
    margin-top: 40px;
  }
  .quizzes {
    margin-top: 50px;
  }
  .management__detail {
    margin-top: 40px;
  }
  .management {
    gap: 40px;
  }
  .discussion .discussion__detail {
    margin-top: 40px;
  }
  .integration {
    margin-top: 40px;
  }
  .testimonial {
    margin-top: 40px;
  }
}
